.App {
  text-align: center;
}

.logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #29395a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  color: #a9dffc;
}
